#page5 .imgDiv{
	width:100%;
	text-align: center;
	padding-bottom: 10px;
}
#page5 .imgObj1{
	width:55%;
} 
#page5 table td{
	border: 1px solid rgba(255,120,0,1);
}
#page5 table thead tr:first-child td{
	background-color: rgba(255,120,0,1);
	text-align: center;
}
#page5 .clickable:hover{
	cursor:pointer;
	background-color:rgba(255,120,0,1);
}
#page5 .clicked{
	background-color:rgba(255,120,0,1);
}